////
/// Default elements.
///
/// @group  Elements
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/generosity
////

html, body {
	width: 100%;
}

body {
	background: color( lgrey );
	font-family: font-family( primary );
	margin: 0;
}
